name: Build and Test Plugin

on:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        java:
          - 21
          - 23
    name: Build and Test Plugin
    runs-on: ${{ matrix.os }}

    steps:
    - uses: docker/setup-docker-action@v4
    - name: Check Docker status
      run: docker context ls && docker info
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Build and Run Tests
      run: |
        ./gradlew build
